@import '~antd/dist/antd.less';
// @import '~antd/lib/button/style/index';
// @import '~antd/lib/date-picker/style/index';


// ------ Base & Require ------
@font-size-base: 14px;


// Layout
@layout-body-background: @component-background;
@layout-header-background: @component-background;


// Custom

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.ant-border-bottom {
  border-bottom: @border-width-base @border-style-base @border-color-base;
}

.feed-enabled {
  color: @blue-6;
}

.ant-timeline-item-content {
  font-size: .75rem;
}

// @border-color-base      : #d9d9d9;        // base border outline a component
// @border-color-split     : #e9e9e9;        // split border inside a component
// @border-width-base      : 1px;            // width of the border for a component
// @border-style-base      : solid;          // style of a components border


.steps-content {
  background-color: @background-color-base;
}

.ant-steps {
  background-color: @component-background;
}

.steps-content .ant-select-disabled .ant-select-selection {
  background-color: @blue-8;
  color: @text-color-dark;
}


.dynamic-delete-button {
  // color: #999;
  color: @red-5;
  &:hover {
    opacity: 0.7;
  }
}

@success: @green-8;
@error: @red-8;

.text-success {
  color: @success;
}
.bg-success {
  .ant-badge-count {
    background-color: @success;
  }
}
.bg-error {
  .ant-badge-count {
    background-color: @error;
  }
}

@feed-queued-color: @blue-8;
.feed-queued-text {
  color: @feed-queued-color;
}
.feed-queued-border {
  border-color: @feed-queued-color;
  &:hover {
    border-color: @feed-queued-color;
  }
}

@feed-processing-color: @success;
.feed-processing-text {
  color: @feed-processing-color;
}

.feed-processing-border {
  border-color: @feed-processing-color;
  &:hover {
    border-color: @feed-processing-color;
  }
}
